$font: "proxima-nova", sans-serif;

//Colors
$white: #fff;
$black: #000;
$beige: #DFD3C3;
$dark: #0F0E0E;

// ---------------
// GLOBALS
// ---------------

body {
  font-family: $font;
  font-size: 16px;
  background-color: $dark;
  margin: 0px;
}

.wrapper {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}


// ---------------
// NAVBAR & HEADER
// ---------------

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav-center {
    width: 85vw;
  }
  .nav-header {
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-logo{
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 1.5px;
    color: $beige;
  }
  .nav-link {
    margin: 0 20px;
    text-decoration: none;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    font-size: 0.75rem;
    color:  $beige;
    &:last-child {
        margin-right: 0px;
    }
  }
  .active-link {
    color: $beige;
  }

// ---------------
// FOOTER
// ---------------
.page-footer {
    height: 8rem;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: $dark;
    color: $beige;
  }
  .page-footer h5 {
    margin-bottom: 0;
  }
  .page-footer p {
    margin-bottom: 0;
    width: 85vw;
  }

// ---------------
// 404 ERROR
// ---------------

.error-page {
  min-height: calc(100vh - (6rem + 4rem));
  text-align: center;
  padding-top: 3rem;
}
.error-page h1 {
  font-size: 9rem;
  color: $beige;
}


// ---------------
// INDEX PAGE
// ---------------

.index-name {
  font-family: $font;
  font-size: 24px;
  font-weight: 100;
  color: $beige;
}
.index-large-heading {
  font-family: $font;
  font-size: 96px;
  font-weight: 400;
  color: $beige;
}
.index-medium-heading {
  font-family: $font;
  font-size: 74px;
  font-weight: 400;
  color: $beige;
}