$font: "proxima-nova", sans-serif;

//Colors
$white: #fff;
$black: #000;
$beige: #DFD3C3;
$dark: #0F0E0E;

// ---------------
// GLOBALS
// ---------------

*, :after, :before {
  box-sizing: inherit;
  margin: 0;
  outline: none;
  padding: 0;
}

html {
  font-size: 14px;
  scrollbar-width: thin;
  scrollbar-color: $beige $dark;
  @media (min-width: 1540px){
    font-size: 16px;
  }
}

html::-webkit-scrollbar{
  width: 0.35vw;
}
html::-webkit-scrollbar-thumb{
  background-color: $beige;
  border-radius: 10px;
}
html::-webkit-scrollbar-track {
  background-color: $dark;
  border-radius: 10px;
}


body {
  font-family: $font;
  font-size: 14px;
  background-color: $dark;
  margin: 0px;
  @media (min-width: 1540px){
    font-size: 16px;
  }
}

.wrapper {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
  @media (min-width: 1540px){
    max-width: 1520px;
  }
}

.scroll {
  position: fixed;
  padding: 2vh 0;
  top: 0;
  left: 0;
  overflow: hidden;
  // height: 100%;
  width: 100%;
  .img-container {
    width: 691px;
    height: 367px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (min-width: 1540px){
      width: 791px;
      height: 420px;
    }
    img {
      width: 100%;
      position: absolute;
    }
  }
  .img-container2 {
    width: 500px;
    height: 450px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (min-width: 1540px){
      width: 600px;
      height: 540px;
    }
    img {
      width: 100%;
      position: absolute;
    }
  }
}

.semi-bold {
  font-weight: 600;
  &:hover {
    cursor: pointer;
  }
}

.transition-main {
  transition:ease-in-out;
  transition-duration: .5s;
  transition-delay: .1s;
}


// ---------------
// NAVBAR & HEADER
// ---------------

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav-header {
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-link{
    margin: 0 20px;
    text-decoration: none;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    transition: .2s ease-in-out;
    font-size: 0.75rem;
    color:  $beige;
    &:first-child {
      margin-left: 0px;
    }
    &:last-child {
        margin-right: 0px;
    }
    &:hover{
      opacity: 50%;
    }
  }
  .active-link {
    font-weight: 700; // WANT TO GET RID OF LITTLE STUTTER WITH ACTIVE LINK STAYING AT OPACITY WEN CLICKED
  }

  .disable {
    cursor: not-allowed;
    opacity: 60%;
  }


// ---------------
// FOOTER
// ---------------
.page-footer {
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // flex-direction: column;
    background: $dark;
    color: $beige;
  }
  .footer-left {
    text-align: left;
  }
  .footer-right {
    text-align: right;
  }

// ---------------
// 404 ERROR
// ---------------

.error-page {
  min-height: calc(100vh - (6rem + 4rem));
  text-align: center;
  padding-top: 3rem;
  color: $beige;
  font-size: 6rem;
}


// ---------------
// INDEX PAGE
// ---------------

.hero {
  overflow: hidden;
  padding-bottom: 4rem;
  padding-top: 4rem;
  @media (min-width: 1540px){
    padding-bottom: 6rem;
    padding-top: 6rem;
  }
} 

.index-name {
  margin: 0 auto;
  font-family: $font;
  font-size: 1.5rem;
  font-weight: 100;
  color: $beige;
  width: 85%;
  line-height: 4rem;
  @media (min-width: 1540px){
    line-height: 5rem;
  }
}
.index-large-heading {
  margin: 0 auto;
  font-family: $font;
  font-size: 8rem;
  font-weight: 400;
  color: $beige;
  width: 85%;
}
.index-medium-heading {
  margin: 0 auto;
  font-family: $font;
  font-size: 6rem;
  font-weight: 400;
  color: $beige;
  width: 85%;
  line-height: 8.5rem;
  position: relative;
  left: 16rem;
  @media (min-width: 1540px){
    line-height: 9.5rem;
  }
}
.index-small-heading {
  margin: 0 auto;
  font-family: $font;
  font-size: 4rem;
  font-weight: 400;
  color: $beige;
  left: 16rem;
}
.index-thin-heading {
  margin: 0 auto;
  font-family: $font;
  font-size: 4rem;
  font-weight: 200;
}
.index-small-heading2 {
  margin: 0 auto;
  font-family: $font;
  font-size: 4rem;
  font-weight: 200;
  color: $beige;
  width: fit-content;
}
.small-space {
  height: 1rem;
}


.quick-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.quick-info {
  height: 19rem;
  display: flex;
  justify-content: space-between;
  // align-items: center;
  @media (min-width: 1540px){
    height: 22rem;
  }
}
.quick-link {
  margin: 0 20px;
  line-height: 40px;
  text-decoration: none;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  font-size: 0.75rem;
  color:  $beige;
  &:first-child {
    margin-left: 0px;
  }
  &:last-child {
    margin-right: 0px;
    margin-left: 150px;
    text-align: right;
  }
}
.quick-text {
  line-height: 20px;
  font-family: $font;
  font-size: 0.75rem;
  text-decoration: none;
  color:  $beige;
  text-transform: initial;
}
.quick-link div{
  line-height: 0px;
  transition: .2s ease-in-out;
  &:hover{
    opacity: 60%;
  }
}

.hidden {
  color: transparent;
}

.featured-projects {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  padding: 0;
  margin: 15vw 0px;
  color: inherit;
  text-decoration: none;
  &:nth-child(2n) {
    flex-direction: row-reverse;
  }
}
.featured-projects p {
  font-family: $font;
  font-size: 1.25rem;
  color:  $beige;
}
.featured-container {
  margin: 0px 6vw;
}

.email-box {
  margin: 1.5vw auto;
  background-color: $dark;
  border: $beige solid 5px;
  cursor: pointer;
  width: fit-content;
  padding: .5rem .75rem;
  transition: .2s ease-in-out;
  &:hover{
    background-color: $beige;
    border-radius: 50px;
  }
}
.email-box a {
  text-decoration: none;
  color: $beige;
  transition: .2s ease-in-out;
  &:hover{
    color: $dark;
  }
}

.spacer {
  height: 4rem;
  @media (min-width: 1540px){
    height: 6rem;
  }
}
.spacer2 {
  height: 2rem;
}


// ---------------
// ABOUT PAGE
// ---------------

.about-large-heading {
  margin: 0 auto;
  font-family: $font;
  font-size: 8rem;
  font-weight: 400;
  color: $beige;
  padding-bottom: 5rem;
  padding-top: 6rem;
  @media (min-width: 1540px){
    padding-bottom: 6rem;
    padding-top: 8rem;
  }
}
.about-text {
  margin: 0 auto;
  font-family: $font;
  // font-size: 1.75rem;
  font-weight: 400;
  color: $beige;
  line-height: 3rem;
}
.about-hero {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: flex-start;
  padding: 0;
  // margin: 15vw 0px;
  color: inherit;
  text-decoration: none;
}
.about-hero p {
  font-family: $font;
  font-size: 1.5rem;
  color:  $beige;
}
.about-container {
  margin: 0px 6vw;
}